@page "/contactme"

<div class="mt-4" style="text-align:center" >
    <h3>
        Please feel free to contact me:<br>
    </h3>
    <br/>
    <br />
    <h3><a href="tel:+48693543885">Mobile</a></h3>
    <br />
    <br />
    <h3><a href="mailto:macintecmarcin@gmail.com">Gmail</a></h3>
    <br />
    <br />
    <h3><a href="https://www.linkedin.com/in/marcin-pierchala">Linkedin</a></h3>
</div>

@code {

}
