@page "/"

<h1>Welcome to My Portfolio</h1>
<p>Hi, I'm Marcin Pierchała, a still developing C# and .Net programmer.</p>

<NavLink href="about" class="btn btn-primary">More about me</NavLink>
<NavLink href="projects" class="btn btn-secondary">View my projects</NavLink>
